<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Execl</title>
    <!-- luckysheet -->
    <link href="/lib/luckysheet-2.1.13/plugins/css/pluginsCss.css" rel="stylesheet" />
    <link href="/lib/luckysheet-2.1.13/plugins/plugins.css" rel="stylesheet" />
    <link href="/lib/luckysheet-2.1.13/css/luckysheet.css" rel="stylesheet" />
    <link href="/lib/luckysheet-2.1.13/assets/iconfont/iconfont.css" rel="stylesheet" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/lib/jquery-3.6.0/jquery.min.js?v=1.0"></script>
    <script src="/lib/layer-3.3.0/layer.js"></script>
    <!-- luckysheet -->
    <script src="/lib/luckysheet-2.1.13/plugins/js/plugin.js"></script>
    <script src="/lib/luckysheet-2.1.13/luckysheet.umd.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>